{% extends "layout/default/template.twig" %}
{% block title %}Bienvenidos{% endblock %}

{% block content %}

    <div class="max-w-full mt-6 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
            <h1 class="mb-2 text-3xl text-center font-bold tracking-tight text-gray-900 dark:text-white">Bienvenidos a AxiomaFrame</h1>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-xl text-justify">
            Una propuesta de desarrollo de software simple, escalable, basado en buenas prácticas de programación y el uso de MVC (Modelo-vista-Controlador) como patrón de diseño.
        </p>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-xl text-justify">
            Te ofrecemos una manera sencilla de crear software altamente escalable a partir de configuraciones mínimas, pero si tu proyecto crece, podrás utilizar todas las herramientas que desees.
        </p>
        <div class="text-center">
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-2xl">
                <strong>AxiomaFrame</strong>... sencillamente simple.
            </p>
            <a href="https://github.com/segundogaldames/axiomaframe/blob/main/README.md" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-gray-700 rounded-lg hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                Mas Información
                <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
            <a href="https://github.com/segundogaldames/axiomaframe/blob/main/DOCUMENT.md" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-gray-700 rounded-lg hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                Documentación
                <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
    </div>
{% endblock %}