{% extends "layout/default/template.twig" %}
{% block title %} {{options.titulo}}{% endblock %}
{% block content %}

<div class="w-full px-2">
	<div class="block w-full p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

		<h1 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
			Nuevo Rol 
		</h1>
		{% include 'partials/_messages.twig' %}
		{% include 'roles/_form.twig' %}
	</div>
</div>

{% endblock %}

